<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <i class="footer-icons fab fa-twitter"></i>
    <i class="footer-icons fab fa-facebook-f"></i>
    <i class="footer-icons fab fa-instagram"></i>
    <i class="footer-icons fas fa-envelope"></i>
    <p>© Copyright 2020 BootUP'20</p>

  </div>
</footer>


</body>

</html>
