<%- include("header") -%>


    <section class="main-section" id="title">

      <!-- Nav Bar -->
      <div class="container-fluid">


        <nav class="navbar navbar-expand-lg navbar-light ">

          <a class="navbar-brand" href=""><img src="images/bootuplogo..png" width="300" height="60"/></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/technical-events">Technical Events</a>
                  <a class="dropdown-item" href="/non-technical-events">Non-Technical Events</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cta">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Contact</a>
              </li>
            </ul>

          </div>
        </nav>

    <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1 class="big-heading">BootUP'20 <br /> Symposium by REC</h1>
          <button type="button" class="download btn-lg btn btn-outline-dark" ><i class="fas fa-power-off"></i> Register</button>
        </div>
        <div class="col-lg-6">
          <img class="title-img" src="images/power-off-solid.svg" alt="power">
        </div>
      </div>
    </div>
  </section>


  <!-- Sponsors -->

  <section class="white-section" id="features">
    <div class='container-fluid'>
      <div class='row'>

        <div class="feat col-lg-4 col-md-12">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feat-title">Sponsor 1</h3>
          <p class="feat-para">Lorem ipsum sfajfhakjfgakjhfja</p>
        </div>
        <div class="feat col-lg-4 col-md-12 ">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feat-title">Rajalakshmi Engineering College</h3>
          <p class="feat-para">Lorem ipsum asfakjfakjgfkjabsfla</p>
        </div>
        <div class="feat col-lg-4 col-md-12">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feat-title">Sponsor 2</h3>
          <p class="feat-para">Lorem ipsum safhaskjfgakjfj</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">
    <div id="carouselExampleControls" class="carousel slide" data-ride="false">

      <div class="carousel-inner">
        <div class="carousel-item active container-fluid" data-interval="4000">
          <h2 class="test-h2">Daredevil is looking for a partner to help him put away the bad guys for good. But he needs someone with a good radar sense to match his efficiency. Crack the game and prove that you have amazing radar senses.</h2>
          <img class='testimonials-img' src="images/dog-img.jpg" alt="dog-profile">
          <em>Jumble Bee</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="4000">
          <h2 class="test-h2">Sheldon Cooper and Leonard Hofstadter compete against each other in a questionnaire involving technical and logo-based questions. Buzz yourself to play against Sheldon and gain a victory for Leonard.</h2>
          <img class="testimonials-img" src="images/lady-img.jpg" alt="lady-profile">
          <em>Buzz-inga</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="4000">
          <h2 class="test-h2">Mike Ross and Harvey spectre are known to be the best partners in a perfect synchronisation. Every case they take up turns into a masterpiece. Only a duo with more sync can beat them. Get on floor with your partner and prove that you guys are no less to the Ross-Spectre duo. So, SUIT-UP and step up your game.</h2>
          <img class="testimonials-img" src="images/suitup.jpeg" alt="lady-profile">
          <em>Suit Up</em>
        </div>
        <div class="carousel-item container-fluid" data-interval="4000">
          <h2 class="test-h2">After the eighth season’s massive backlash, the whole westeros is now under constant clash between the different houses. But, due to the war with the NIGHT KING, they’ve lost men who could stand up for their point. Prove your debating skills in this debate and stand up for a SIGIL and give your best to make yourself worthy enough to join the throne.</h2>
          <img class="testimonials-img" src="images/pick2.jpeg" alt="Pick-a-Sigil">
          <em>Pick-a-Sigil</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>


  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-img" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-img" src="images/tnw.png" alt="tnw-logo">
    <img class="press-img" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-img" src="images/mashable.png" alt="mashable-logo">

  </section>


  <!-- Pricing -->

  <section class="white-section" id="pricing">
    <h2 class="pricing-h2">Registration and Pricing Details</h2>
    <p>Register at the lowest fee of Rs.100 and enroll yourself to this quest with our Team!</p>
    <div class="row">
      <div class="pricing-col col-lg-4 col-md-6">

        <div class="card ">
          <div class="card-header">
            <h3 class="card-title">Entry Ticket</h3>
          </div>
          <div class="card-body">
            <h2 class="pricing-h2">₹100</h2>
            <ul>
              <li><h6 class="special-p">Per Person</h6></li>
              <li><h6 class="special-p">Free for all Technical Events</h6></li>
              <li><h6 class="special-p">Aditional charges for certain Non-Technical Events</h6></li>
            </ul>
            <button class="btn btn-lg btn-block btn-light btn-dark" type="button">Sign Up</button>
          </div>
        </div>
      </div>
      <div class="contact pricing-col col-lg-8 col-md-6">
        <h3 class="contact">For further details Contact:</h3>
        <p>While you are at it, please go check our Instagram page, Follow us and give us feedbacks</p>
        <a style="color:black" target="_blank" href="https://www.google.com/"><i class=" fab fa-instagram"></i></a> <em class="contact">Follow us ;)</em> <br><br>
        <i class="contact fab fa-whatsapp"></i> <em class="contact">Subeksha : 9543490414</em>  <br>
        <i class="contact fab fa-whatsapp"></i> <em class="contact">Subeksha : 9543490414</em>  <br>
        <i class="contact fab fa-whatsapp"></i> <em class="contact">Subeksha : 9543490414</em>  <br>
      </div>
    </div>
  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">
    <div class="container-fluid">


      <h3 class="big-heading">Click Register to BootUp your Life once again!</h3>
      <button type="button" onclick="window.location.href = 'https://google.com';" class="download btn btn-lg btn-light btn-light"><i class="fab fa-instagram"></i> Instagram</button>
      <button type="button" class="download btn btn-lg btn-light btn-dark"><i class="fas fa-power-off"></i> Register!!!  </button>
    </div>
  </section>

<%- include("footer") -%>
