<%- include("header") -%>
<section class = "colored-section">
  <div class="container">


    <nav class="navbar navbar-expand navbar-light ">

      <a class="navbar-brand" href="/"><img src="images/bootuplogo..png" width="300" height="60"/></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Back</a>
          </li>
        </ul>

      </div>
    </nav>
    </div>

  <div class="container">

  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">

        <div class="card-body">
            <img class="event-img" src="images/buzzinga.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">

        <h2 class="event-h2"> Buzz-inga</h2> <hr class="event-hr">
        Sheldon Cooper and Leonard Hofstadter compete against each other in a questionnaire involving technical and logo-based questions. Buzz yourself to play against Sheldon and gain a victory for Leonard.
        <br>
      <button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>


  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/expo.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="event-h2"> Bootup Expo</h2> <hr class="event-hr">
        The Wayne Industries is looking for a techie to help Lucius fox in building gadgets for The Dark Knight. How cool could that be!! The selection process starts here by evaluating your projects and assessing them. So, heads high, get your hands on, jam it real tight and get the opportunity to work alongside the Caped Crusader.
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>


  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/buzzinga.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="event-h2">What a slide</h2><hr class="event-hr">
        If you know Breaking Bad, then you know how much of a genius Walter White…oops…HEISENBERG is. And also how big an ego he has. Recently, Mr.White made a statement that no one can be as innovative as him. Take up his challenge and prove your worth to the HEISENBERG.
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>


  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/inter.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="event-h2">Inter Phew</h2><hr class="event-hr">
        Dr.Watson, Sherlock’s colleague has been the only successful person who could handle the famous detective sociopath with patience and wit. In order to cope up with his busy schedule he has decided to interview a few candidates to assist him in his work. Walk in! Get your IQ and qualifications tested and find who could be the next Watson.
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>

  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/bamboozled.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="event-h2">Bamboozled</h2><hr class="event-hr">
        Joey Tribbiani got an audition as a game show host. In the game various images will be posted in sequence from which the participants will have to guess a technical word or a phrase. He finds it a little difficult to understand the game. Play with Joey to help him understand better while having fun.”
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>

  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/ohswap.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="event-h2">Oh Swap</h2><hr class="event-hr">
        There are these Harper brothers from TWO AND A HALF MEN, who have a unique comic coexistence who used to clean up each other’s mess. This whole event is kind of based on how well you can clean up your partner’s mess or assist their work. So, this is going to be two guys for a one guy job and how well you can pull it off like the harper brothers. Best of luck!
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>

  <div class="row">
    <div class=" event-div col-lg-3">
      <div class="card ">
        <div class="card-body">
            <img class="event-img" src="images/exterminator.jpeg" alt="">
        </div>
      </div>

    </div>
    <div class="event-body-div col-lg-8">
        <h2 class="pricing-h2">Exterminator</h2><hr class="event-hr">
        The Heckerman Elliot Alderson, commonly known as MR.ROBOT, has come to your assistance to check for bugs in his codes and remove them before the time runs out. If you fail, you’ll disappoint his clients. So, sit tight and warm up your wrists. So come, start the extermination.
      <br><button type="button" class="event-download btn-lg btn btn-outline-light" ><i class="fas fa-power-off"></i> Register</button>
    </div>
  </div>

</div>
</section>
<%- include("footer") -%>
